<table id="customers" title="lista de presidentes" *ngIf="dados">
  <thead>
  <th>Nome do presidente</th>
  <th>Numero</th>
  <th>Partido</th>
  </thead>
  <tbody>
  <tr *ngFor="let item of dados.candidatos" (click)="detalhaCandidato(item)">
    <td [ngClass]="item.numero === 17 ? 'esse-nao' : ''">{{item.nomeUrna | titlecase}}</td>
    <td [ngClass]="item.numero === 17 ? 'esse-nao' : ''">{{item.numero}}</td>
    <td [ngClass]="item.numero === 17 ? 'esse-nao' : ''">{{item.partido.sigla}}</td>
  </tr>
  </tbody>
</table>

<div id="detalhe">
  <app-detalha-candidato [candidato]="candidatoSelecionado"></app-detalha-candidato>
</div>
