<div *ngIf="dadosCandidato">
  <figure>
    <img [src]="dadosCandidato.fotoUrl">
    <figcaption>{{dadosCandidato.nomeUrna}}</figcaption>
  </figure>

  <div>
    <span>Cargo: </span>
    <span>{{dadosCandidato.cargo.nome}}</span>
  </div>

  <div>
    <span>Candidatura: </span>
    <span>{{dadosCandidato.descricaoSituacao}}</span>
  </div>

  <div>
    <span>Partido: </span>
    <span>{{dadosCandidato.partido.nome}} ({{dadosCandidato.partido.sigla}})</span>
  </div>

  <div>
    <span>Número: </span>
    <span>{{dadosCandidato.numero}}</span>
  </div>
  <div *ngIf="dadosCandidato.vices">
    <span>Vices:</span>
    <span *ngFor="let vice of dadosCandidato.vices">{{vice.nm_CANDIDATO | titlecase}}</span>
  </div>
  <!-- {{dadosCandidato | json}} -->
</div>
