div.conteudo {
  width: 700px;
  margin: 40px auto;
  position: center;
  font-family: 'Raleway', sans-serif;
}

table.scroll {
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
}

table.scroll tbody {
  display: block;
}


tbody {
  border-top: 2px solid #80c166;


}


tr:hover {
  background-color: rgba(84, 123, 106, 0.19);
  cursor: pointer;

}

tbody td:last-child, thead th:last-child {
  border-right: none;
}

.seleciona {
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
}

.seleciona > label {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  margin-top: 35px;
  margin-left: 45%;
}

.seleciona > select {
  width: 18%;
  padding: 10px 15px;
  border: none;
  background-color: rgba(76, 175, 80, 0.12);
  margin-top: 10px;
  margin-left: 42%;
}

.pesquisa {
  width: calc(300px + 30px);
  margin: 0 auto;
}

input {
  background: white url('../../../assets/filtro.png') no-repeat 5px 5px;
  padding: 5px 5px 5px 30px;
  width: 120%;
  height: 35px;
  border-radius: 4px;
  margin-top: 20px;
}

#detalhe {
  width: 30%;
  display: inline-block;
  float: right;
  font-family: 'Raleway', sans-serif;
}

.row-nome {
  width: 50%;
}

.row-numero {
  width: 25%;
}

.row-partido {
  width: 25%;
  font-weight: bolder;
}

@media screen and (max-width: 1000px) {
  div.conteudo {
    width: 100%;
    margin: 0 auto;
  }

  table#customers {
    width: 50%;
    margin-left: 20px;
    overflow: scroll;
  }
}

@media screen and (max-width: 640px) {

  .seleciona > label {
    margin-top: 25px;
    margin-left: 25%;
  }

  .seleciona > select {
    width: 50%;
    margin-top: 10px;
    margin-left: 25%;
  }

  .pesquisa {
    width: calc(100vw - 30px);
    margin: 0 auto;
  }

  input {
    width: 88%;
    height: 29px;
    border-radius: 4px;
    margin: 20px auto;
  }

  div.conteudo {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
  }

  .row-nome {
    width: 50%;
  }

  .row-numero {
    width: 20%;
  }

  .row-partido {
    width: 20%;
  }
}
