<div class="seleciona" *ngIf="cargo !== 'presidente'">
  <label for="select-estados">Exibir informações para: </label><br>
  <select id="select-estados" name="estados" [(ngModel)]="estadoSelecionado"
          (change)="buscarCandidatos(); candidatoSelecionado = null;">
    <option value="">Selecione um estado</option>
    <option *ngFor="let estado of estados" [value]="estado.sigla">{{estado.nome}}</option>
  </select>
</div>

<div class="pesquisa">
  <input  type="text" [(ngModel)]="filtro" placeholder="Filtrar por">
</div>

<div class="conteudo">
  <table id="customers" title="lista de presidentes" *ngIf="dados">
    <thead>
    <th class="row-nome">Nome do candidato</th>
    <th class="row-numero">Número</th>
    <th class="row-partido">Partido</th>
    </thead>
    <tbody>
    <tr *ngFor="let item of dados | filtroCandidato:filtro" (click)="detalhaCandidato(item)">
      <td class="row-nome">{{item.nomeUrna | titlecase}}</td>
      <td class="row-numero">{{item.numero}}</td>
      <td class="row-partido">{{item.partido.sigla}}</td>
    </tr>
    </tbody>
  </table>
  <div id="detalhe" *ngIf="candidatoSelecionado">
    <app-detalha-candidato [candidato]="candidatoSelecionado"></app-detalha-candidato>
  </div>
</div>

